.custom-swiper-container{
  background-color: #faebd7;
}

.custom-main {
  position: relative;
  width: calc(min(90rem, 90%));
  margin: 0 auto;
  min-height: 100vh;
  column-gap: 3rem;
  padding-block: min(20vh, 3rem);
}

.custom-bg,
.custom-bg2 {
  position: fixed;
  z-index: -1;
  opacity: 0;
}

.custom-bg {
  top: -4rem;
  left: -12rem;
}

.custom-bg2 {
  bottom: -2rem;
  right: -3rem;
  width: 9.375rem;
}

.custom-header-content span {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  color: #717171;
}

.custom-heading {
  text-transform: capitalize;
    letter-spacing: 0;
    font-size: clamp(3rem, 2.25rem + 0.75vw, 2rem);
    background: linear-gradient(45deg, #d70077, #d29a39);
    background-clip: text;
    -webkit-background-clip: text;
    line-height: 2;
    padding-left: 6px;
    color: transparent;
    font-family: 'Satisfy', serif;
}

.custom-divider {
  background: #d29a39;
  height: 0.25rem;
  width: 15rem;
  border: none;
  margin: 0 0 2rem 0;
  opacity: 0.6;
}

.custom-paragraph {
  line-height: 1.6;
  font-family: 'Inter', Arial, sans-serif;
}

/* 🟩 SCOPE STARTS HERE */
.custom-swiper-container .swiper {
  width: 100%;
}

.custom-swiper-container .swiper-pagination-bullet,
.custom-swiper-container .swiper-pagination-bullet-active {
  background: #fff;
}

.custom-swiper-container .swiper-pagination {
  bottom: 1.25rem !important;
}

.custom-swiper-container .swiper-slide {
  width: 18.75rem;
  height: 28.125rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
}

.custom-swiper-container .swiper-slide h2 {
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 0.625rem;
  padding-left: 1.563rem;
  text-transform: uppercase;
  font-family: 'Satisfy', serif;
}

.custom-swiper-container .swiper-slide p {
  color: #dadada;
  font-weight: 300;
  padding: 0 1.563rem;
  line-height: 1.6;
  font-size: 0.75rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: 'Inter', Arial, sans-serif;
}

.custom-swiper-container .swiper-slide a {
  margin:0;
  padding: 0 1.55rem;
  color: #d70077;
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 700;
}

.custom-swiper-container .swiper-slide a:hover {
  color: #fff;
}

.custom-swiper-container .swiper-slide div {
  display: none;
  opacity: 0;
  padding-bottom: 0.625rem;
}

.custom-swiper-container .swiper-slide-active div {
  display: block;
  opacity: 1;
}

/* Slide backgrounds */
.custom-swiper-container .swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url('../assets/surya_sarees.jpg') no-repeat 50% 50% / cover;
}

.custom-swiper-container .swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url('../assets/raagwaas.jpg') no-repeat 50% 50% / cover;
}

.custom-swiper-container .swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url('../assets/sur.jpg') no-repeat 50% 50% / cover;
}

.custom-swiper-container .swiper-slide--four {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url('../assets/siyonee.jpg') no-repeat 50% 50% / cover;
}
.custom-swiper-container .swiper-slide--five {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url('../assets/raag.jpg') no-repeat 50% 50% / cover;
}
.custom-swiper-container .swiper-slide--six {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url('../assets/siyo.jpg') no-repeat 50% 50% / cover;
}
/* 🟥 SCOPE ENDS HERE */

@media screen and (min-width: 768px) {
  .custom-main {
    display: flex;
    align-items: center;
  }

  .custom-bg,
  .custom-bg2 {
    opacity: 0.1;
  }
}

@media screen and (min-width: 1500px) {
  .custom-swiper-container .swiper {
    width: 85%;
  }
}